* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Poppins', sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  h2, h3, h4 {
    margin: 0;
  }

  .highlight {
    color: #FFCC04;
    margin-left: 5px;
  }

  a {
    text-decoration: none;
  }

  /* Define the scrollbar width and track color */
::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
}

::-webkit-scrollbar-track {
  background: #FFFFFF; /* Track color (white in this case) */
}

/* Define the scrollbar thumb color */
::-webkit-scrollbar-thumb {
  background: #FFCC04; /* Thumb color (yellow) */
}



  .nav {
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b8b8b8;
    padding: 7px 0;
    position: fixed;
    top: 0;
    z-index: 10000;
  }
  .nav > .nav-header {
    flex: 0.95;
    padding-left: 1rem;
  }
  .nav > .nav-header > .nav-title img {
    height: 50px;
    margin-left: 50px;
  }

  .nav > .nav-list {
    display: flex;
    gap: 3rem;
  }
  .nav > .nav-list > li {
    list-style-type: none;
  }
  .nav > .nav-list > li a {
    text-decoration: none;
    color: #000;
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.2s linear;
  }

  .nav > .nav-list > li a:hover {
    color: #FFCC04;
  }

  .nav > #nav-check {
      display: none;
  }
  @media (max-width: 480px) {
    .nav {
      padding: 1rem;
    }
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding-top: 0.2rem;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
      background-color: #1A237E;
      height: 0;
      transition: all 0.3s ease-in;
      top: 40px;
      left: 0;
      overflow: hidden;
    }
    .nav > .nav-list > li {
      width: 100%;
      margin-top: 1.5rem;
    }
    .nav > #nav-check:checked ~ .nav-list {
      height: calc(100vh - 50px);
    }
  }



  /* HERO */

  .hero {
    height: 110vh;
    background: url(img/bg.png) no-repeat center center / cover;
    
    display: flex;
    justify-content: center;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 85%);
  }

  .hero-heading {
    font-size: 15rem;
    text-transform: uppercase;
    color: #fff;
    transform: translateY(25vh);
    letter-spacing: 25px;
  }



  /* Section 1 */

  .section1 {
    height: auto;
    padding-top: 10vh;
    padding-bottom: 5vh;
    transform: translateY(-5vh);
  }

  .textBox h2 {
    display: flex;
    font-size: 4rem;
    align-items: center;
  }

  .textBox h2 svg {
    margin-right: 20px;
  }

  p {
    color: #1E1E1E;
    font-size: 21px;
  }

  .textBox {
    width: 40vw;
    margin-left: 10vh;
  }


  /* Section img */

  .section-img {
    height: 55vh;
    background: url(img/sectionImg.png) no-repeat center center / cover;
    background-position: 0% 38% !important;
    
    display: flex;
    justify-content: center;

    -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 93%, 0 85%);
    clip-path: polygon(0 5%, 100% 5%, 100% 93%, 0 85%); 
  }

  .texBoxes {
    display: flex;
  }

  /* Section 2 */

  .section2 {
    padding: 5vh 0;
  }





/* Section Video */

.section-video {
    height: auto;
    padding: 15vh 0 25vh 0;
    display: flex;
    justify-content: center;
}

.video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-video .bg {
    width: 55vw;
}

.section-video .btn {
    position: absolute;
    width: 5vw;
    transition: all 0.15s linear;
    cursor: pointer;
}

.section-video .btn:hover {
    transform: scale(1.15);
}






  /*  Footer */

  /* STYLES SPECIFIC TO FOOTER  */
  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #000;
    padding: 20px 0;
  }

  .contain {
    display: flex;
    justify-content: space-evenly;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 18px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: 400;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  footer {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #cfcfcf;
    padding: 10px 0;
  }





  /* Responsivity */

  @media screen and (max-width: 1440px) {
    .hero-heading {
        font-size: 13rem;
    }

    .textBox h2 {
        font-size: 2.75rem;
    }

    .textBox p {
        font-size: 19px;
    }
  }

  @media screen and (max-width: 1024px) {
    .hero-heading {
        font-size: 8rem;
        transform: translateY(40vh);
    }

    .textBox {
        margin-left: 3vh;
        width: 45vw;
    }

    #about .textBox {
        margin-left: 10vh;
    }

    .textBox h2 {
        font-size: 2.2rem;
    }
  }

  @media screen and (max-width: 768px) {
    .hero-heading {
        font-size: 6rem;
        transform: translateY(50vh);
    }

    .section1 {
        padding: 2vh 0 2vh 0;
    }

    .section-video .bg {
        width: 75vw;
    }

    .section-video .btn {
        width: 8vw;
    }
  }

  @media screen and (max-width: 450px) {
    .hero-heading {
        font-size: 3rem;
        letter-spacing: 15px;
    }

    .nav {
        padding: 10px 0;
        width: 100vw;
    }

    .nav > .nav-header > .nav-title img {
        height: 35px;
        margin-left: 0px;
    }

    .texBoxes {
        flex-wrap: wrap;
    }

    #about .textBox {
        margin-left: 3vh;
    }

    .textBox {
        width: 90vw;
    }

    .contain {
        flex-wrap: wrap;
        justify-content: center;
    }

.section-video {
    padding: 5vh 0 10vh 0;
}

    .section-video .bg {
        width: 90vw;
    }

    .section-video .btn {
        width: 12vw;
    }

    .textBox h2 {
        font-size: 1.8rem;
    }
    .textBox p {
        font-size: 16px;
    }

    .phone-margin {
        margin-bottom: 5vh;
    }

    .section-img {
        background-position: 30% 38% !important;
      }
  }